* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  background-color: #ddd;

  html,
  body {
    width: 100%;

    max-width: 100%;

    height: 100%;

    overscroll-behavior-y: none;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    .App {
      margin: 0;

      padding: 0;

      width: 100%;

      max-width: 100%;

      height: 100%;

      display: flex;

      flex-direction: column;
      .globalBar {
        background-color: white;
        padding: 0 20px;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
          background-color: white;
          img {
            background-color: white;
          }
        }
        .nav {
          width: 25%;
          min-width: 20em;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: white;
          .button {
            width: 90px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            text-decoration: none;
            color: #333;
            font-size: larger;
            transform-origin: 3ms;

            &:hover {
              color: #1a86e0;
              cursor: pointer;
              transition: color 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .container {
      border: #1a86e0 1px solid;
      box-sizing: border-box;
      background-color: white;
      margin: 5%;
      min-height: 500px;
      border-radius: 20px;
      padding: 10px;
      align-items: center;
      flex-direction: column;
      display: flex;
      justify-content: center;

      .space {
        width: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        background-color: white;

        .symbol {
          background-color: #1f7cc8;
          color: white;
          height: 100px;
          width: 100px;
          border-radius: 100%;
          font-size: 4em;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: relative;
          left: auto;
          right: auto;
        }
      }

      h1 {
        color: #1a86e0;
        text-align: center;
        background-color: white;
        font-size: 3em;
      }

      table {
        background-color: white;
        border-collapse: collapse;
        width: 100%;
        padding: 60px;
        align-items: center;
        justify-content: center;
      }

      .thin_table {
        width: 25%;
        align-items: center;
        justify-content: center;
        margin-left: -20px;
        margin-right: 0;
      }

      tr {
        font-size: x-large;
      }
      th,
      td {
        padding: 0.55rem;
        text-align: center;
        border: 1px solid white;
        background-color: white;
        color: #434e5e;
        font-size: larger;
      }

.category_column{
  p{
  padding: 5px;
  text-shadow:1px 1px #1a86e0;
  background-color: white;
  }
}

      button {
        color: white;
        background-color: #1a86e0;
        border: #1a86e0 1px solid;
        padding: 10px;
        font-size: medium;
        border-radius: 10%;
        margin: 5px;

        &:hover {
          background-color: #1f7cc8;
          cursor: pointer;
        }
      }

      input {
        font-size: medium;
        margin: 5px;
        padding: 10px;
        background-color: white;
        border: #1a86e0 1px solid;
        width: 300px;
      }

      .css-qc6sy-singleValue{
        background-color: white;
      }

      .css-x19aeh-control,.css-knwiki-control {
        width: 300px;
       
        &:focus {
          width: 300px;
        }
      }

      .css-6j8wv5-Input,
      .css-x19aeh-control {
        color: #1a86e0;
      }

      h2 {
        background-color: white;
        color: #818385;
        margin-top: 1em;
      }
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      height: 40px;
      text-align: center;

      align-items: center;

      p {
        background-color: #434e5e;
        width: 100%;
        height: 40px;
        color: white;
        font-size: large;
        padding-top: 8px;

        justify-content: center;

        a {
          background-color: #434e5e;
          cursor: pointer;
          text-decoration: dashed;
          color: #1a86e0;
          &:hover {
            color: #1f7cc8;
          }
        }
      }
    }
  }
}
